<div class="container custom-container-2">

    <h3 class="mb-3 text-center">Information of the user</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td>Identifiant</td>
          <td>{{User.id}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{User.name}}</td>
        </tr>
        <tr>
          <td>Surname</td>
          <td>{{User.surname}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{User.mail}}</td>
        </tr>
        <tr>
          <td>End of the subscription</td>
          <td>{{User.endDateSubscription}}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{{User.type}}</td>
        </tr>
        </tbody>
      </table>
    </div>

</div>

